---
layout: default
current-number: 33
---
<div class="header-row">
    <h4><a href="https://twitter.com/hannahpixels" target="_blank">@hannahpixels</a>&rsquo; 2019</h4>
    <h1>100 Podcasts</h1>
    <p>Challenge to try two <strong>new</strong> podcasts per week in 2019.</p>
    <p>I love podcasts. I listen to them almost every day. But I have a confession. I pretty much stick to the same <a href="#favorites">few favorites</a>. Meanwhile, all the subscriptions with intriguing descriptions and suggestions from friends languish unlistened to at the bottom of my list. This year, I'm changing that.</p>
    <p><strong>Want to join me & start your own challenge?</strong> Message me on <a href="https://twitter.com/hannahpixels" target="_blank">Twitter</a> or fork this repo on <a href="https://github.com/hannahd/100podcasts">GitHub</a>.</p>

    <p>Each podcast will be rated as:<br>
    <strong>😍&nbsp;Loved, 😄&nbsp;Enjoyed, 🙂&nbsp;Liked, 😕&nbsp;Meh,</strong> or <strong>😴&nbsp;Pass</strong></p>
</div>

<div>
  <h2>Currently Listening to...</h2>

  {% assign index = page.current-number | minus:1 %}
  {% assign podcast = site.data.podcasts[index] %}
  <div  class="podcast-row">
    <div class="image-col">
      <h6 class="count">#{{page.current-number }}</h6>
      {% if podcast.image %}
        {% if podcast.url %}
         <a href="{{ podcast.url }}" target="_blank">
        {% endif %}
           <img src="{{ podcast.image }}" class="podcast" width="100%"/>
         {% if podcast.url %}</a>{% endif %}
      {% endif %}
    </div>
    <div class="content-col">
      {% if podcast.name %}
      {% if forloop.index < page.current-number %}
        <h6>#{{forloop.index}}</h6>
      {% endif %}
      <h3>
        {% if podcast.url %}
         <a href="{{ podcast.url }}" target="_blank">
        {% endif %}
        {{ podcast.name }}
        {% if podcast.url %}</a>{% endif %}
      </h3>
      {% endif %}
      {% if podcast.tag %}
        <p class="tags">{{ podcast.tag}}
        {% if podcast.twitter %}
          &middot; <a href="https://twitter.com/{{ podcast.twitter }}" target="_blank">@{{ podcast.twitter }}</a></p>
        {% endif %}
      {% endif %}
      {% if podcast.description %}
        <p>{{ podcast.description}}</p>
      {% endif %}
    </div>
  </div>
</div>

<hr>

<h2>New Podcasts in 2019 <em>(subject to change)</em></h2>
{% for podcast in site.data.podcasts %}
  <div  class="podcast-row">
    <div class="image-col">
      {% if forloop.index < page.current-number %}
        <h6 class="count">#{{forloop.index}}</h6>
      {% endif %}
      {% if podcast.image %}
        {% if podcast.url %}
         <a href="{{ podcast.url }}" target="_blank">
        {% endif %}
           <img src="{{ podcast.image }}" class="podcast" width="100%"/>
         {% if podcast.url %}</a>{% endif %}
      {% endif %}
    </div>
    <div class="content-col">
      {% if podcast.name %}
      {% if podcast.rating %}
        <h3 class="rating">
          {% case podcast.rating %}
            {% when '1' %}
              😴
            {% when '2' %}
              😕
            {% when '3' %}
              🙂
            {% when '4' %}
              😄
            {% when '5' %}
              😍
          {% endcase %}
        </h3>
        {% endif %}
      <h3>
        {{ podcast.name }}
      </h3>
      {% endif %}
      {% if podcast.tag %}
        <p class="tags">{{ podcast.tag}}
        {% if podcast.twitter %}
          &middot; <a href="https://twitter.com/{{ podcast.twitter }}" target="_blank">@{{ podcast.twitter }}</a></p>
        {% endif %}
      {% endif %}
      {% if podcast.description %}
        <p>{{ podcast.description}}</p>
      {% endif %}
      {% if podcast.thoughts %}
        <h6>My Thoughts</h6>
        <p>{{ podcast.thoughts}}</p>
      {% endif %}
    </div>
  </div>
{% endfor %}
<hr>

<h2>My Favorite Podcasts</h2>
<a id="favorites"></a>
{% for podcast in site.data.favpodcasts %}
<div  class="podcast-row">
  <div class="image-col">
    {% if podcast.new == "TRUE" %}
      <h6 class="count">NEW</h6>
    {% endif %}
    {% if podcast.image %}
      {% if podcast.url %}
       <a href="{{ podcast.url }}" target="_blank">
      {% endif %}
         <img src="{{ podcast.image }}" class="podcast" width="100%"/>
       {% if podcast.url %}</a>{% endif %}
    {% endif %}
  </div>
  <div class="content-col">
    {% if podcast.name %}
    {% if podcast.rating %}
      <h3 class="rating">
        {% case podcast.rating %}
          {% when '1' %}
            😴
          {% when '2' %}
            😕
          {% when '3' %}
            🙂
          {% when '4' %}
            😄
          {% when '5' %}
            😍
        {% endcase %}
      </h3>
      {% endif %}
    <h3>
      {{ podcast.name }}
    </h3>
    {% endif %}
    {% if podcast.tag %}
      <p class="tags">{{ podcast.tag}}
      {% if podcast.twitter %}
        &middot; <a href="https://twitter.com/{{ podcast.twitter }}" target="_blank">@{{ podcast.twitter }}</a></p>
      {% endif %}
    {% endif %}
    {% if podcast.description %}
      <p>{{ podcast.description}}</p>
    {% endif %}
    <!--{% if podcast.thoughts %}
      <h6>My Thoughts</h6>
      <p>{{ podcast.thoughts}}</p>
    {% endif %}-->
  </div>
</div>
{% endfor %}
