$link-color: #0D7AFF;
$accent-color: #F4F6F7;

.podcast-row,
.header-row{
  display: grid;
  grid-template-columns: .2fr 1fr;
  grid-gap: 1rem;
  padding:1.5em;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius:4px;
}

.accent .podcast-row{
  padding-top:0;
}



.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
  }




.column,
.columns {
  width: 100%;
  box-sizing: border-box; }

  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 80%; }
    .column,
    .columns {
      margin-left: 4%; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }

    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }

    .one-half.column                { width: 48%; }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }

  }




body {
  font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
  font-size:15px;
  margin-top:5%;
  line-height:normal;
}

p {
    line-height: 1.5em;
    margin: .7em 0;
}

.header-row p{
  margin: 1em 0;
}

h1,h3 {
  font-family: 'Titan One', 'Open Sans', "Helvetica Neue", Arial, sans-serif;
  font-weight:400;
}

h1{
  font-size:2.5em;
  text-transform: uppercase;
}

h4 {
    margin-top: .9em;
}

h6 {
    font-size: 0.8em;
}

h3{
  font-size:1.8em;
}

h2 {
  font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
  font-weight:800;
  font-size:1.2em;

  text-transform: uppercase;
  padding:.5em 1.5em;
}

hr {
    border:0;
    border-top: 1px solid darken($accent-color,10%);
    margin: 1.5em 1.5em;
}

p.tags{
  font-size:.8em;
  opacity:.5;
  margin-bottom:.4em;
}

p:first-of-type{
  margin-top:0;
}

p:last-of-type{
  margin-bottom:0;
}

h2 em {
  font-weight:400;
  font-style: normal;
  text-transform: none;
}




.accent{
  background-color:$accent-color;
  border-radius:4px;

}
.logo{
  background: $accent-color;
  text-align: center;

}

.podcast-row:hover{
  background-color:$accent-color;
}

a {
  color: $link-color;
  text-decoration:none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
a:hover {
  color: darken( $link-color, 15% );
  text-decoration:underline;
}
img.podcast{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }
a img.podcast:hover{
  box-shadow: 0 3px 8px rgba(0,0,0,0.18), 0 3px 5px rgba(0,0,0,0.22);
}
