$link-color: #0D7AFF;
$accent-color: #F4F6F7;



/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 100%;
    max-width: 600px;

    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
  .podcast-row,
  .header-row{
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-gap: 1rem;
    padding:1.5em;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius:4px;
  }

  .accent{
    background-color:$accent-color;
    border-radius:4px;

  }

  img.podcast{
    width:100%
  }

}

/* For devices smaller than 550px */
@media (max-width: 550px) {
  .container {
    width: 100%;
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; }

  .podcast-row,
  .header-row{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding:3em;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius:0;
  }
  .accent{
    background-color:$accent-color;
    border-radius:0;

  }
  img.podcast, .logo{
    width:50%;
    min-width:180px;
    min-height:180px;
        margin: 0 auto;
  }

  h2 {
    text-align:center;
    padding:.5em 3em;
  }
}
@media (max-width: 320px) {
  .podcast-row,
  .header-row{
    padding:2em;
  }
}
.image-col{
  text-align:center;
}

.accent .podcast-row{
  padding-top:0;
}



body {
  font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
  font-size:15px;
  margin-top:5%;
  line-height:normal;
}

p {
    line-height: 1.5em;
    margin: .7em 0;
}

.header-row p{
  margin: 1em 0;
}

h1,h3 {
  font-family: 'Titan One', 'Open Sans', "Helvetica Neue", Arial, sans-serif;
  font-weight:400;
}

h1{
  font-size:2.5em;
  text-transform: uppercase;
}

h4 {
    margin-top: .9em;
}

h6 {
    font-size: 0.8em;
}

h3{
  font-size:1.8em;
}

h2 {
  font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
  font-weight:800;
  font-size:1.2em;

  text-transform: uppercase;
  padding:.5em 1.5em;
}

hr {
    border:0;
    border-top: 1px solid darken($accent-color,10%);
    margin: 1.5em 1.5em;
}

p.tags{
  font-size:.8em;
  opacity:.5;
  margin-bottom:.4em;
}

p:first-of-type{
  margin-top:0;
}

p:last-of-type{
  margin-bottom:0;
}

h2 em {
  font-weight:400;
  font-style: normal;
  text-transform: none;
}





.logo{
  background: $accent-color;
  text-align: center;

}

.podcast-row:hover{
  background-color:$accent-color;
}

a {
  color: $link-color;
  text-decoration:none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
a:hover {
  color: darken( $link-color, 15% );
  text-decoration:underline;
}
img.podcast{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }
a img.podcast:hover{
  box-shadow: 0 3px 8px rgba(0,0,0,0.18), 0 3px 5px rgba(0,0,0,0.22);
}
