body {
  font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
  font-size:16px;
  margin-top:5%;
}

h1,h3 {
  font-family: 'Titan One', 'Open Sans', "Helvetica Neue", Arial, sans-serif;
}

h1{
  font-size:2em;
}

h3{
  font-size:1em;
}

h2 {
  font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
  font-weight:800;
  font-size:.8em;
  letter-spacing: .01em;
  margin-top:2em;
  text-transform: uppercase;
}

h2 em {
  font-weight:400;
  font-style: normal;
  text-transform: none;
}

.logo{
  background: #f0f0f0;
  text-align: center;

}
